*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.register{
    margin-left:auto;
    margin-top:40px;
    margin-right:auto;
    background-color: skyblue;
    width:400px;
    height:400px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px grey;
}

.name{
  padding:10px 0 30px 30px;
}
div label{
    padding:15px;
}
label:hover{
    color:white;
}
input[type="text"],input[type="email"]{
    width:250px;
    height:25px;
}
input[type="password"]{
    width:220px;
    height:25px;
}
input[type="date"]{
    width:200px;
    height:25px;
}
input:hover{
    box-shadow: 3px 3px 4px blue;
}
button{
   margin-left:30%;
   padding:10px;
   background-color:rgb(175, 175, 221);
   border-radius: 5px;
   box-shadow: 3px 3px 4px blue;
   width:40%;
}